@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* White Background */
  --foreground: #ffffff; /* White Text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Ensure background remains white even in dark mode */
    --foreground: #ffffff; /* Ensure text remains white in dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
